5 функціональних вимог:
- Пошук адрес і місць: Користувач має можливість вводити назви місць або адреси та отримувати результат у вигляді карти з точним розташуванням.
- Маршрутизація: Користувач має можливість прокладати маршрут між двома або більше точками, вибираючи тип транспорту (пішки, на автомобілі, громадським транспортом).
- Місцезнаходження користувача: Додаток має визначати поточне місцезнаходження користувача і відображати його на карті.
- Відображення даних про рух транспорту: Користувач може бачити інформацію про затори на дорогах, аварії та інші події, що впливають на рух транспорту.
- Інтерактивна карта: Користувач може наближати та віддаляти карту, переміщати її та переглядати різні типи карт (наприклад, вулиці, супутникові зображення).

5 не функціональних вимог:
- Швидкість завантаження: Система повинна швидко завантажувати карту та реагувати на запити користувача (не більше ніж 2 секунди на відображення результатів).
- Сумісність: Програма повинна бути сумісною з усіма основними операційними системами (iOS, Android) та браузерами (Chrome, Firefox, Safari).
- Безпека: Система повинна забезпечувати захист даних користувачів (особисті дані, історія маршрутів).
- Масштабованість: Система повинна підтримувати одночасну роботу великої кількості користувачів (не менше ніж 100 активних користувачів одночасно).
- Доступність: Система повинна бути доступною для користувачів з обмеженими можливостями, з підтримкою адаптивних елементів інтерфейсу для людей з порушеннями зору.